In [1]:
import pandas as pd
import os

data_path = os.path.join("..", "data", "raw", "ilanlar_ham.csv")
df = pd.read_csv(data_path, low_memory=False)
df.head()

,Link,Başlık,Fiyat,İlan No,İlan Tarihi,Marka,Seri,Model,Yıl,Kilometre,...,Boya-değişen,Takasa Uygun,Kimden,Tramer,Boyalı Parçalar,Lokal Boyalı Parçalar,Değişen Parçalar,Ort. Yakıt Tüketimi,Yakıt Deposu,Ağır Hasarlı
0,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1.925.000 TL,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.3 Hybrid Veloce,2023,115.000 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
1,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,Bulunamadı,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.6 VGT-D TI,2024,6.200 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
2,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,Bulunamadı,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.3 Hybrid Veloce,2023,50.250 km,...,Tamamı orjinal,Takasa Uygun,Yetkili Bayiden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
3,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1.915.000 TL,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,69.946 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
4,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,Bulunamadı,Kopyalandı\n\n ...,09 Ekim 2025,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,61.000 km,...,1 değişen,Takasa Uygun,Galeriden,NaN,Yok,Yok,Sağ Arka Kapı,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43636 entries, 0 to 43635
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Link                   43636 non-null  object
 1   Başlık                 0 non-null      float64
 2   Fiyat                  43636 non-null  object
 3   İlan No                39443 non-null  object
 4   İlan Tarihi            41308 non-null  object
 5   Marka                  41308 non-null  object
 6   Seri                   41308 non-null  object
 7   Model                  41047 non-null  object
 8   Yıl                    41132 non-null  object
 9   Kilometre              41130 non-null  object
 10  Vites Tipi             41131 non-null  object
 11  Yakıt Tipi             41125 non-null  object
 12  Kasa Tipi              41128 non-null  object
 13  Renk                   41091 non-null  object
 14  Motor Hacmi            40273 non-null  object
 15  Motor Gücü             40495 non-null  object
 16  Çekiş                  40806 non-null  object
 17  Araç Durumu            40666 non-null  object
 18  Boya-değişen           32400 non-null  object
 19  Takasa Uygun           31290 non-null  object
 20  Kimden                 39816 non-null  object
 21  Tramer                 24197 non-null  object
 22  Boyalı Parçalar        36228 non-null  object
 23  Lokal Boyalı Parçalar  29311 non-null  object
 24  Değişen Parçalar       42120 non-null  object
 25  Ort. Yakıt Tüketimi    33057 non-null  object
 26  Yakıt Deposu           30869 non-null  object
 27  Ağır Hasarlı           2468 non-null   object
dtypes: float64(1), object(27)
memory usage: 9.3+ MB

In [3]:
import numpy as np

df['Fiyat'] = df['Fiyat'].astype(str).str.replace(' TL', '').str.replace('.', '')
df['Fiyat'] = pd.to_numeric(df['Fiyat'], errors='coerce')

print(f"Temizlik öncesi satır sayısı: {len(df)}")
df.dropna(subset=['Fiyat'], inplace=True)
print(f"Fiyatı olmayanlar silindikten sonra satır sayısı: {len(df)}")

df['Fiyat'] = df['Fiyat'].astype(int)

df.head()

Temizlik öncesi satır sayısı: 43636
Fiyatı olmayanlar silindikten sonra satır sayısı: 18986

,Link,Başlık,Fiyat,İlan No,İlan Tarihi,Marka,Seri,Model,Yıl,Kilometre,...,Boya-değişen,Takasa Uygun,Kimden,Tramer,Boyalı Parçalar,Lokal Boyalı Parçalar,Değişen Parçalar,Ort. Yakıt Tüketimi,Yakıt Deposu,Ağır Hasarlı
0,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1925000,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.3 Hybrid Veloce,2023,115.000 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
3,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1915000,Kopyalandı\n\n ...,10 Ekim 2025,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,69.946 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
5,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1865000,Kopyalandı\n\n ...,09 Ekim 2025,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,86.800 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
6,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,2675000,Kopyalandı\n\n ...,09 Ekim 2025,Alfa Romeo,Tonale,1.5 VGT Tributo,2024,10.000 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
11,https://www.arabam.com/ilan/galeriden-satilik-...,NaN,1810000,Kopyalandı\n\n ...,06 Ekim 2025,Alfa Romeo,Junior Elettrica,NaN,2024,28.000 km,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN

In [4]:
df['Kilometre'] = df['Kilometre'].astype(str).str.replace(' km', '').str.replace('.', '')

df['Kilometre'] = pd.to_numeric(df['Kilometre'], errors='coerce')

df.dropna(subset=['Kilometre'], inplace=True)

df['Kilometre'] = df['Kilometre'].astype(int)

df[['Marka', 'Model', 'Fiyat', 'Kilometre']].head()

         Marka              Model    Fiyat  Kilometre
0   Alfa Romeo  1.3 Hybrid Veloce  1925000     115000
3   Alfa Romeo       1.6 VGT-D TI  1915000      69946
5   Alfa Romeo       1.6 VGT-D TI  1865000      86800
6   Alfa Romeo    1.5 VGT Tributo  2675000      10000
11  Alfa Romeo                NaN  1810000      28000

In [5]:
df['Yıl'] = pd.to_numeric(df['Yıl'], errors='coerce')
df.dropna(subset=['Yıl'], inplace=True)
df['Yıl'] = df['Yıl'].astype(int)

In [6]:
gereksiz_sutunlar = ['Başlık', 'İlan No', 'İlan Tarihi']

mevcut_gereksizler = [col for col in gereksiz_sutunlar if col in df.columns]
df.drop(columns=mevcut_gereksizler, inplace=True)

df.head()

,Link,Fiyat,Marka,Seri,Model,Yıl,Kilometre,Vites Tipi,Yakıt Tipi,Kasa Tipi,...,Boya-değişen,Takasa Uygun,Kimden,Tramer,Boyalı Parçalar,Lokal Boyalı Parçalar,Değişen Parçalar,Ort. Yakıt Tüketimi,Yakıt Deposu,Ağır Hasarlı
0,https://www.arabam.com/ilan/galeriden-satilik-...,1925000,Alfa Romeo,Tonale,1.3 Hybrid Veloce,2023,115000,Otomatik,Hibrit,SUV,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
3,https://www.arabam.com/ilan/galeriden-satilik-...,1915000,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,69946,Otomatik,Dizel,SUV,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
5,https://www.arabam.com/ilan/galeriden-satilik-...,1865000,Alfa Romeo,Tonale,1.6 VGT-D TI,2023,86800,Otomatik,Dizel,SUV,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
6,https://www.arabam.com/ilan/galeriden-satilik-...,2675000,Alfa Romeo,Tonale,1.5 VGT Tributo,2024,10000,Otomatik,Hibrit,SUV,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN
11,https://www.arabam.com/ilan/galeriden-satilik-...,1810000,Alfa Romeo,Junior Elettrica,NaN,2024,28000,Otomatik,Elektrik,SUV,...,Tamamı orjinal,Takasa Uygun,Galeriden,NaN,Yok,Yok,Yok,NaN,NaN,NaN

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Fiyat,17747.0,1.516940e+06,3.357326e+06,24000.0,550000.0,1050000.0,1640000.0,180000000.0
Yıl,17747.0,2.013668e+03,8.546582e+00,1962.0,2009.0,2015.0,2021.0,2025.0
Kilometre,17747.0,1.831765e+05,1.321821e+06,0.0,67000.0,150000.0,239000.0,94000000.0

In [8]:
# 1. Kilometre Filtresi: 1.000.000 km üzeri araçları hatalı kabul edip silelim
df = df[df['Kilometre'] < 1000000]

# 2. Fiyat Filtresi: 
# Sınır: 50.000 TL (Bunun altı genelde hasarlı/hurda veya hatalı girilmiştir)
df = df[(df['Fiyat'] > 50000)]

print(f"Aykırı değerler temizlendikten sonra kalan satır sayısı: {len(df)}")

Aykırı değerler temizlendikten sonra kalan satır sayısı: 17736

In [9]:
df['Tramer'] = df['Tramer'].astype(str)

df['Tramer'] = df['Tramer'].replace(['nan', 'None', 'Belirtilmemiş'], '0')

df['Tramer'] = df['Tramer'].str.replace(' TL', '').str.replace('.', '')

df['Tramer'] = pd.to_numeric(df['Tramer'], errors='coerce').fillna(0).astype(int)

print(df['Tramer'].describe())

count    1.773600e+04
mean     2.057064e+03
std      7.640859e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+07
Name: Tramer, dtype: float64

In [10]:
output_path = os.path.join("..", "data", "processed", "ilanlar_final.csv")

os.makedirs(os.path.dirname(output_path), exist_ok=True)

df.to_csv(output_path, index=False, encoding='utf-8-sig')

print(f"Temiz veri seti başarıyla kaydedildi: {output_path}")

Temiz veri seti başarıyla kaydedildi: ..\data\processed\ilanlar_final.csv